<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>FORGOT PASSWORD</title>
</head>
<body>
    <div class="cont1" style="height: 73vh; margin-top: 20vh;">
        <form action="/forgot" method="post" >
            <h2 style="font-size: 25px; padding-left: 7vw; padding-top: 20vh;" >FORGOT PASSWORD</h2>
            <div class="subcont1" style="margin-top: 5vh;">
                <label style="font-size: 30px;font-family: 'Lucida Sans';" for="username">Username:</label><br>
                <input id="username" type="text" placeholder="Enter Your Username" name="username" required><br><br>
                <button type="submit">REQUEST RESET CODE</button><br>
                <div style="color: red; font-size: 20px;margin-top: 10px;"> {{message}} </div>
                </div>    
        </form>    
            </div>
    </div>
</body>
</html>