<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>CHANGE PASSWORD</title>
</head>
<body>
    <div class="cont1">
        <form action='/password_resetter' method="post" >
            <h2 style="font-size: 25px; padding-left: 6vw; padding-top: 12vh;" >CHANGE PASSWORD</h2>
            <div class="subcont1" style="margin-top: 5vh;">
                <label style="font-size: 15px;font-family: 'Lucida Sans';" for="password1">New Password </label><br>
                <input id="password1" type="text" placeholder="Enter new password" name="password1" minlength="8" required><br>
                <label style="font-size: 15px;font-family: 'Lucida Sans';" for="password2">Confirm Password </label><br>
                <input id="password2" type="text" placeholder="Confirm new password" name="password2" minlength="8" required><br><br>
                <input type="hidden" name="username" value="{{username}}">
                <button type="submit">CHANGE PASSWORD</button><br>
                <div style="color: red; font-size: 20px;margin-top: 10px;"> {{message}} </div>
                </div>    
        </form>    
            </div>
    </div>
</body>
</html>