<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>RESET PASSWORD</title>
</head>
<body>
    <div class="cont1">
        <form action="/code_verify" method="post" >
            <h2 style="font-size: 25px; padding-left: 10vw; padding-top: 20vh;" >RESET PASSWORD</h2>
            <div class="subcont1" style="margin-top: 5vh;">
                <label style="font-size: 15px;font-family: 'Lucida Sans';" for="pin">Hello {{username}}, Enter the SIX digits pin you have received from your email ending with {{email}} </label><br>
                <input id="pin" type="text" placeholder="Enter the FOUR DIGITS PIN" name="pin" required><br><br>
                <input type="hidden" name="username" value="{{username}}">
                <input type="hidden" name="email" value="{{email}}">
                <button type="submit">RESET</button><br>
                <div style="color: red; font-size: 20px;margin-top: 10px;"> {{message}} </div>
                </div>    
        </form>    
            </div>
    </div>
</body>
</html>