<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>PASSWORD CHANGED</title>
</head>
<body>
    <div class="cont1" style="height: 60vh; margin-top: 18vh;">
        <form action='/password_resetter' method="post" >
            <h2 style="font-size: 25px; padding-left: 6vw; padding-top: 12vh;" >CONGRATULATIONS</h2>
            <div class="subcont1" style="margin-top: 5vh;">
                <label style="font-size: 15px;font-family: 'Lucida Sans';" for="pin">Your Password has been reset successfully,<br>You can now login to your account with your new password </label><br><br><br>
                <div><a href="/" method="get" style="color: rgb(39, 237, 32);">Click Here to Get Back to the Login Page</a></div> 
            </div>
        </form>    
            </div>
    </div>
</body>
</html>